body{
    
    background-image: radial-gradient( white, green, maroon);
    
    
    border: 1px dotted yellow;
    padding: 6px;
}
h2{
    text-align: center;
    text-indent: 5%;
    text-shadow: 5px 3px 3px white;
    text-decoration:dotted;
}
.violet{
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-color: rgb(19, 17, 17);
    margin-bottom:10px ;
    box-shadow: 3px 3px 3px gray;
    background-color: rgb(102, 33, 102);
}
.gray{
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-color: black;
    margin-bottom:10px ;
    box-shadow: 3px 3px 3px gray;
    background-color: grey;
}
.pink{
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-color: rgb(48, 47, 47);
    margin-bottom:10px ;
    box-shadow: 3px 5px 5px gray;
    background-color: palevioletred;
}
.yellow{
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-color: black;
    margin-bottom:10px ;
    box-shadow: 3px 3px 3px gray;
    background-color: yellow;
}
.green{
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-color: black;
    margin-bottom:10px ;
    box-shadow: 3px 3px 3px gray;
    background-color: rgb(91, 189, 91);
}