.ol {
  margin: 25px;
  color: blanchedalmond; 
  
}

.li
{
    text-align: center;
    color: rgb(183, 91, 223);
    font-style: oblique;
    
}

body{
    background-color: rgb(100, 41, 41);
    
}
.h3
{
    color: red;
}