.div{
    border: 2px solid;
    border-color: rgb(219, 213, 213);
    height: 520px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 2px 2px gray; 
       
}
.divimg{
    padding-left: 40px;
    height: 100px;
    width: 110px;   
}
.mobileName{
    text-align: center;
    
    font-family: 'Times New Roman';
}
h4{
    text-align: center;
    
}
span{
    color:rgb(129, 115, 115);
}
li{
    font-family: monospace;
    font-size:16px ;
}
section{
    display: flex; 
      
}
button{
    
    box-shadow: 5px 2px 2px gray;
    color: hotpink;
    padding: 15px;
    margin: 25px;
    

}
.subdiv{
    display: inline-flex;
    text-align: center;
    border: 1px solid;
    border-color:gray;
    height: 20px;
    width: 23px;
    background-color: rgb(105, 214, 105);
}
.subdiv1{
    display: inline-flex;
    text-align: center;
    border: 1px solid;
    border-color:gray;
    height: 20px;
    width: 23px;
    background-color: yellow;
}
.p{
    text-align: center;
    color: brown;
    font-family: monospace;
    font-size:16px ;
}