section{
    display: flex;  
    margin-left:7%;   
}
.mobiledescription{
    border: 2px solid;
    border-color: rgb(219, 213, 213);
    height: 520px;
    width: 210px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 2px 2px gray; 
}
.mobileimg{
    padding-left: 40px;
    height: 100px;
    width: 110px;   
}
.mobileName{
    text-align: center;
    font-family: 'Times New Roman';
}
.price{
    text-align: center; 
}
span{
    color:rgb(129, 115, 115);
}
.discount{
    text-align: center;
    color: brown;
    font-family: monospace;
    font-size:16px ;
}
.vfmscorebox{
    display:inline-flex;
    border: 1px solid gray;
    height:20px;
    width: 23px;
    background-color:rgb(105, 214, 105);
}
.specifications{
    font-family: monospace;
    font-size:16px;
}
.viewdetails{
    box-shadow: 5px 2px 2px gray;
    color: hotpink;
    padding: 11px;
    margin: 38px;
    font-family: monospace;
    font-size:15px;
}